.fondo-ilus {
    background-color: $color1;
}
.titulo-ilus {
    text-align: center;
    padding: 40px;
    font-family:'Montserrat', sans-serif;
    color: $color3;
}

.txt-ilus {
    text-align: center;
    font-size: 17px;
    padding: 20px;
}

.img-ilus {
    width: 400px;
    height: 600px;
}