.fondo-main {
    background-color: $color1;
}

.titulo-principal {
    text-align: center;
    padding: 40px;
    font-family:'Montserrat', sans-serif;
    color: $color3;
}
/* texto  */
.introduccion {
    text-align: center;
    margin-bottom: 5rem;
    font-size: 17px;
    padding: 20px;
}

.cont-home{
    max-width: 100%;
}

.principales-img {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.tatuajes-destacados {
    height: 450px;
}

.boton {
    margin: 25px;
    color: $color1;
    border-color: $color5;
    background-color: $color3;
    padding: 5px;
    border-radius: 5px;
}

.boton:hover{
    color:$color5;
    border-radius: 100px;
}