.tabla-preg {
    background-color: $color1;
    padding: 40px;
}

.titulo-preg {
    padding: 20px;
    margin: 5px;
    text-align: center;
    font-family:'Montserrat', sans-serif;
    color: $color3;
}

.a-preg{
    color: $color2;
}

.txt-preg {
    font-size: 17px;
    padding: 20px;
}